@media screen and (min-width: 981px) {
  .footer-mobile{
    display: none;
  }
}


@media screen and (max-width: 981px) {
  .footer-desktop{
    display: none;
  }
}

footer {
  color:whitesmoke;
  height: 15vh;
  width: 100%;
  min-height: 175px;
  position: sticky;
  bottom: 0;
  
}
h3 {
  font-size: 30px;

}
footer h3 span {
  color:  #EC7063
}

.footer-mobile span {
  color:  #EC7063
}

.footer-mobile {
  color:whitesmoke;
  height: 15vh;
  width: 100%;
  position: sticky;
  bottom: 0;
  font-size: 18px;
  min-height: 100px;
}

.header h3{
  font-family: 'Coiny', cursive;
  color: #EC7063;
  background-color: whitesmoke;
  font-size: 1.75rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.header {
  height:15vh;
  width: 100%;
  min-height: 160px; 
  position: sticky;
  top: 0;
  
}

.sign-up-container {
  height: 70vh;
  width: 100%;
  
  
}

.card{
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
  min-width: 300px;
  max-width: 500px;
  width: 30vw;
  
  

}