.nav-link {
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3px  
}

.border-md-right {
    border-right: 1px solid rgb(224, 223, 223);
}

@media (max-width: 768px) {
    .border-md-right {
        border-right: none;
    }
}
